<h1> Hello, I'm The Captain </h1>

<% if policy(Boat).edit? %>
<%= link_to "See my boat(s)", user_boats_path(current_user) %>
<% end %>

<% if User.find(params[:id]) == current_user%>
<%= link_to "Add a boat", new_boat_path %>
<% end %>

<!-- Modal btn-->

<% if User.find(params[:id]) == current_user%>
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
    Add a boat
  </button>
<% end %>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="green-txt" id="exampleModalLongTitle">Add a boat to your dashboard</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <%= simple_form_for [ current_user, @boat ] do |f| %>

          <div class="d-flex">
            <div class="col-6 pl-0">
              <%= f.input :name , placeholder: 'Boat name', label:false %>
              <%= f.input :name , placeholder: 'Description', label:false, as: :text, :input_html => {:style => 'width: 100%', :rows => 5}%>

              <fieldset class="form-group radio_buttons required boat_category">
                <div class="category-wrapper">
                  <input type="hidden" name="boat[category]" value="">
                  <div class="category-item" data-children-count="1">
                    <input class="form-check-input radio_buttons required category-selector" type="radio" value="Monocoque" name="boat[category]" id="boat_category_monocoque">
                    <label class="form-check-label collection_radio_buttons" for="boat_category_monocoque">
                      <%= image_tag "monocoque.png", style: "height:95px" %>
                      <p style="font-size:12px; text-align:center">monocoque</p>
                    </label>
                  </div>
                  <div class="category-item" data-children-count="1">
                    <input class="form-check-input radio_buttons required category-selector" type="radio" value="Catamaran" name="boat[category]" id="boat_category_catamaran">
                    <label class="form-check-label collection_radio_buttons" for="boat_category_catamaran">
                      <%= image_tag "catamaran.png", style: "height:95px" %>
                      <p style="font-size:12px; text-align:center">catamaran</p>
                    </label>
                  </div>
                  <div class="category-item" data-children-count="1">
                    <input class="form-check-input radio_buttons required category-selector" type="radio" value="Ketch" name="boat[category]" id="boat_category_ketch">
                    <label class="form-check-label collection_radio_buttons" for="boat_category_ketch">
                      <%= image_tag "ketch.png", style: "height:95px" %>
                      <p style="font-size:12px; text-align:center">ketch</p>
                    </label>
                  </div>
                </div>
              </fieldset>

              <%= f.input :capacity, placeholder: 'Capacity', label:false, input_html: { min: 1, max: 8, step: 1 } %>
            </div>

            <div class="col-6" style="border: #90caa0 1px solid; border-radius: 5px; padding: 40px; margin-bottom: 20px;">
              <%= f.file_field :photos, multiple: true%>
            </div>

          </div>
          <input type="submit" name="commit" value="I'm done" class="mt-3 btn btn-flat btn-create btn-success" data-disable-with="Create Boat">

          <% end %>
      </div>

    </div>
  </div>
</div>
