<div style="<%= 'background: transparent' if params[:action] == 'home'%>" class="navbar navbar-expand-sm navbar-lewagon">
  <h2 style="<%= 'opacity: 0' if params[:action] == 'home' %>" >
    <%= link_to "PYC", root_path %>
  </h2>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul>
      <% if user_signed_in? %>
        <li>
          <div class="menu">
            <a href="#" class="menu-link">
              <span class="hamburger-icon">
                <span class="hamburger-bar hamburger-bar-1"></span>
                <span class="hamburger-bar hamburger-bar-2"></span>
                <span class="hamburger-bar hamburger-bar-3"></span>
              </span>
            </a>
          </div>

          <div class="menu-overlay">
            <nav class="overlay-menu">
              <ul>
                <li><%= link_to "Dashboard", dashboard_path %></li>
                <li><%= link_to "Book a cruise", cruises_path %></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </nav>
          </div>
        </li>
        <li>
          <%= link_to user_path(current_user) do %>
            <%= image_tag "https://thispersondoesnotexist.com/image", class: "avatar" %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- <div class="menu">
  <a href="#" class="menu-link">
    <span class="hamburger-icon">
      <span class="hamburger-bar hamburger-bar-1"></span>
      <span class="hamburger-bar hamburger-bar-2"></span>
      <span class="hamburger-bar hamburger-bar-3"></span>
    </span>
  </a>
</div>

<div class="menu-overlay">
  <nav class="overlay-menu">
    <ul>
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "Book a cruise", cruises_path %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>
  </nav>
</div> -->
