<div style="<%= 'background: transparent; position: absolute' if params[:action] == 'home'%>" class="navbar navbar-expand-sm navbar-lewagon">
  <div style="<%= 'opacity: 0' if params[:action] == 'home' %>">
    <%= link_to root_path do %>
      <%= image_tag "logo_black.png", class: "logo-navbar"%>
    <% end %>
  </div>

  <% if params[:action] == 'index' %>
    <%= simple_form_for :search, url: cruises_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" placeholder="Your dream destination" type="text" name="search[query]" id="search_query" value= <%= params[:search][:query] %> />
        <button name="button" type="button" class="btn btn-flat" id="filter-btn">
          <p class="filter"> <span><i class="fas fa-plus"></i></span><span id="span-color">Add filters</span></p>
        </button>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <% if current_user.boats.count == 0 %>
          <%= link_to "Join us as a captain", dashboard_path, class: "btn underline", style: " #{'color:#fdf9f6' if params[:action] == 'home' }"%>
        <% else %>
          <%= link_to "Create a cruise", new_cruise_path, class: "btn underline", style: " #{'color:#fdf9f6' if params[:action] == 'home' }" %>
        <% end %>
        <% if params[:action] == 'index' || params[:action] == 'home' || params[:action] == 'show' %>
          <%= link_to "Dashboard", dashboard_path, class: "btn underline", style: " #{'color:#fdf9f6' if params[:action] == 'home' }" %>
        <% elsif params[:action] == 'dashboard' %>
          <%= link_to "Book a cruise", cruises_path, class: "btn underline", style: " #{'color:#fdf9f6' if params[:action] == 'home' }" %>
        <% else %>

        <% end %>

        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo.key, class: "avatar  dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false if current_user.photo.attached?%>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
