<div class="container d-flex">

  <div id="left" class="col-4" >
    <h3 id="show-title">My reservations</h3>

    <div style="height: 72vh; overflow:scroll; background-color: #293133; border-radius:5px; padding: 20px">
    <% if @user.bookings.size == 0 %>
      <p> You have no upcoming reservations</p>

    <% else %>

      <p style="color: #fdf9f6"> You have an upcoming reservation </p>
      <% @bookings.each do |booking| %>
        <% if booking.cruise.start_date >= (Date.today) %>
                    <div class="card-product my-3">
                      <%= cl_image_tag booking.cruise.boat.photo, alt: "CRUISE_img" %>
                      <div class="card-product-infos">
                        <h2><%= booking.cruise.name %></h2>
                        <p>Product description with <strong>relevant info</strong> only.</p>
                      </div>
                    </div>
        <% end %>
      <% end %>

      <p class="border-top pt-2" style="color: #fdf9f6"> Previous reservations </p>
      <% @bookings.each do |booking| %>
        <% if booking.cruise.start_date < (Date.today) %>
                  <div class="card-product my-3" style="filter:brightness(1); opacity:.7">
                    <%= cl_image_tag booking.cruise.boat.photo, alt: "CRUISE_img" %>
                    <div class="card-product-infos">
                      <h2><%= booking.cruise.name %></h2>
                      <p>Product description with <strong>relevant info</strong> only.</p>
                    </div>
                  </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>

  <div id="right" class="col-8 ml-3">

    <h3 id="show-title">My boats</h3>
    <div class="slider">
    <% current_user.boats.each do |boat| %>
        <div class="card-trip my-3">
          <%= cl_image_tag boat.photo, alt: "BOAT_img" %>
          <div class="card-trip-infos">
            <h2><%= boat.name %></h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
    <% end %>
    </div>

    <!-- Modal btn-->

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
      <% if current_user.boats.count == 0 %>
        Become captain
      <% else %>
        Add a new boat
      <% end %>
    </button>
  </div>

</div>

<!-- <div class="card-trip">
  <%#= cl_image_tag booking.cruise.boat.photo, alt: "CRUISE_img" %>
  <div class="card-trip-infos">
    <div>
      <h2><%#= booking.cruise.name %></h2>
      <P>From :<%#= booking.cruise.start_date %></p>
      <p>To :<%#= booking.cruise.end_date %></p>
    </div>
    <div class="card-trip-pricing"><%#= booking.cruise.price.to_i %>&nbsp;$</div>
    <%#= cl_image_tag booking.cruise.boat.user.photo.key, class: "card-trip-user avatar-bordered"%>
  </div>
</div> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="green-txt" id="exampleModalLongTitle">Add a boat to your dashboard</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <%= simple_form_for @boat do |f| %>

          <div class="d-flex">
            <div class="col-6 pl-0">
              <%= f.input :name , placeholder: 'Boat name', label:false %>
              <%= f.input :description , placeholder: 'Description', label:false, as: :text, :input_html => {:style => 'width: 100%', :rows => 5}%>

              <fieldset class="form-group radio_buttons required boat_category">
                <div class="category-wrapper">
                  <input type="hidden" name="boat[category]" value="">
                  <div class="category-item" data-children-count="1">
                    <input class="form-check-input radio_buttons required category-selector" type="radio" value="Monocoque" name="boat[category]" id="boat_category_monocoque">
                    <label class="form-check-label collection_radio_buttons" for="boat_category_monocoque">
                      <%= image_tag "monocoque.png", style: "height:95px" %>
                      <p style="font-size:12px; text-align:center">monocoque</p>
                    </label>
                  </div>
                  <div class="category-item" data-children-count="1">
                    <input class="form-check-input radio_buttons required category-selector" type="radio" value="Catamaran" name="boat[category]" id="boat_category_catamaran">
                    <label class="form-check-label collection_radio_buttons" for="boat_category_catamaran">
                      <%= image_tag "catamaran.png", style: "height:95px" %>
                      <p style="font-size:12px; text-align:center">catamaran</p>
                    </label>
                  </div>
                  <div class="category-item" data-children-count="1">
                    <input class="form-check-input radio_buttons required category-selector" type="radio" value="Ketch" name="boat[category]" id="boat_category_ketch">
                    <label class="form-check-label collection_radio_buttons" for="boat_category_ketch">
                      <%= image_tag "ketch.png", style: "height:95px" %>
                      <p style="font-size:12px; text-align:center">ketch</p>
                    </label>
                  </div>
                </div>
              </fieldset>

              <%= f.input :capacity, placeholder: 'Capacity', label:false, input_html: { min: 1, max: 8, step: 1 } %>
            </div>

            <div class="col-6" style="border: #90caa0 1px solid; border-radius: 5px; padding: 40px; margin-bottom: 20px;">
              <%= f.file_field :photos, multiple: true%>
            </div>

          </div>
          <input type="submit" name="commit" value="I'm done" class="mt-3 btn btn-flat btn-create btn-success" data-disable-with="Create Boat">

          <% end %>
      </div>

    </div>
  </div>
</div>
