<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1503634529935-e0e827964138?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80);">
  <div class="container">
    <h3>Book a cruise and live <br> a <div class="green-txt">sailing experience </div> with your friends and family</h3>

    <p>PYC will be your faithful travel companion. <br> Look for the right companions so you don't have to travel alone, share the maintenance costs and explore the seas! </p>
    <%= link_to "plan your trip", cruises_path(:anchor => "offers"), class: "btn btn-flat btn-success", id: "banner-btn" %>
    <%= link_to "create a cruise", new_cruise_path, class: "btn btn-flat btn-success", id: "banner-btn" %>
  </div>
</div>

<h2 class="container my-3 px-4" id="offers"> Fav destinations </h2>
<p class="px-4 col-6"> La quand meme je vais mettre du texte pour expliquer un peu pck c'est
  vraiment miskine d'avoir que dalle dans cette section de la page... non ?</p>

<div class="container">
  <div class="cards-fav">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1582449632051-e699411ff297?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80)">
      Corsica
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1560611840-1df6c351e40e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80)">
      Cotes d'Armor
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1601077779632-495330197b7f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80)">
      Caribbean Sea
    </div>
  </div>
</div>

<h2 class="container my-3 px-4"> Offers </h2>
<p class="px-4 col-6"> La quand meme je vais mettre du texte pour expliquer un peu pck c'est
  vraiment miskine d'avoir que dalle dans cette section de la page... non ?</p>

<div class="container d-flex">
  <div class="cards col-6">
    <% @cruises.each do |cruise| %>
    <%= link_to cruise_path(cruise) do %>
      <div class="card-trip">
        <%= image_tag "home.jpg", alt: "CRUISE_img" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= cruise.name%></h2>
            <p> <%= cruise.boat.category %> trip in <%= cruise.start_location.name %></p>
          </div>
          <div class="card-trip-pricing"><%= cruise.price %>&nbsp;$</div>
           <%= image_tag "https://thispersondoesnotexist.com/image", class: "card-trip-user avatar-bordered"%>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-6" id="map"
     style="width: 100%; height: 610px; border-radius: 5px; position: sticky; top: 130px"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<h2 class="container my-3 px-4"> Create your cruise </h2>
<p class="px-4 col-6"> La quand meme je vais mettre du texte pour expliquer un peu pck c'est
  vraiment miskine d'avoir que dalle dans cette section de la page... non ?</p>

