<h2 class="container mt-5 my-3 ml-1 px-4" id="show-title"> <%=  @cruises.length %> offers passing through <%= params[:search][:query] if params[:search] %></h2>
<p class="px-4 ml-1 col-6"> Find the cruise that suits you best and get on board to live your sailing experience on your own, or with friends or family ! </p>

<div class="container d-flex">
  <div class="cards col-6">
    <% @cruises.each do |cruise| %>
    <% @seat_booked = 0
    Booking.where(cruise: cruise).each do |booking|
     @seat_booked += booking.seats
    end %>
    <%= link_to cruise_path(cruise) do %>
      <div class="card-trip">
        <%= cl_image_tag cruise.boat.photo, alt: "CRUISE_img" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= cruise.name%></h2>
          </div>
          <p class="mb-2"> <%= cruise.boat.name %> <br>from <span style="color: #90caa0"><%= cruise.start_date %></span> to <span style="color: #90caa0"><%= cruise.end_date %></span></p>
          <div class="sumup">
            <p> <i class="fas fa-map-marker-alt"></i> <%= cruise.start_location.name %> </p>
            <p> <i class="fas fa-user"></i> <%= cruise.boat.capacity - @seat_booked %> </p>
          </div>
          <div class="card-trip-pricing"><%= cruise.price %>&nbsp;$</div>
          <% if cruise.boat.user.photo.attached? %>
            <%= cl_image_tag cruise.boat.user.photo.key, class: "card-trip-user avatar-bordered"%>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-6" id="map"
     style="width: 100%; height: 660px; border-radius: 5px; position: sticky; top: 130px"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
