<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<!-- [...] -->
<%= form_tag cruises_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a cruise"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<!-- the list of cruises -->

<% @cruises.each do |cruise| %>
  <%= link_to "This is a cruise card", cruise_path(cruise) %>
<% end %>

<%= link_to "Add a new cruise", new_cruise_path %>
<%= link_to "Avatar", user_path(@current_user) %>
