
<div class="container modale">

  <h2> When boat created, you can propose a cruise... </h2>

  <%= simple_form_for(@boat) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :capacity %>
  <%= f.file_field :photos, multiple: true%>
  <%= f.submit %>
  <% end %>
</div>

